td.cell {
    border-bottom: 2px solid #999;
}

td.blank {
    color: #ffffff00;
}

hr {
    border: 1px dashed #999;
}

table {
    font-family: "Lucida Console", "Courier New", monospace;
    margin-left: auto;
    margin-right: auto;
}

@media print {
    @page {
        size: landscape
    }
}
