@font-face {
    font-family: isosevcal;
    src: url(iosevcal-regular.ttf);
}

day {
    border: solid 1px black;
    display: grid;
    font-family: 'isosevcal', monospace;
    grid-template-columns: 11ch 1fr;
}

text {
    text-align: right;
}

dashed {
    border-bottom: dashed 1px black;
}

solid {
    border-bottom: solid 1px black;
}