@font-face {
  font-family: isosevcal;
  src: url(iosevcal-regular.ttf);
}

#cell {
    border-bottom: 1px solid #999;
}

hr {
    border: 1px dashed #999;
}

day {
    font-family: 'isosevcal', monospace;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    display: flex;
    border: 1px solid #999;
}

left {
    display: flex;
    flex-direction: column;
    border: 1px solid #999;
}

lefttop {
    display: flex;
    flex-direction: column;
    width: 10ch;
}

leftbtm {
    display: flex;
    flex-direction: column;
    width: 11ch;
    align-items: flex-end;
}

right {
    display: flex;
    flex-direction: column;
    flex-grow: 3;
}

date {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}


time {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

@media print {
    @page {
        size: landscape
    }
}

br {
    line-height: 22px;
}
