/*-- scss:defaults --*/
$font-family-sans-serif: Lato, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;

// Base document colors
$body-bg: #000000 !default;
$body-color: #FFFFFF !default;

// Inline code
$code-bg: #000000 !default;
$link-color: #CCFF00 !default;
$code-color: #00CCFF !default;
$code-font-size: .95em !default;
$code-padding: 0px !default;
